body {
    background-image: url("frutas.jpg");
    background-size: cover;
}

@media (max-width: 500px) {
    body{
    font-size: 7px;
  }
}

.formulario {
    background-color: white;
    padding: 20px; /* Añadir relleno para separar el contenido del formulario del fondo de la página */
    border-radius: 10px; /* Opcional: Agregar bordes redondeados al formulario */
}